Listen *:9080
<VirtualHost *:9080>
    ServerName remotejobs.example.com

    CustomLog /var/log/apache2/remotejobs.local_access.log common
    ErrorLog /var/log/apache2/remotejobs.local_error.log

    ServerAdmin devops@example.com
    AllowEncodedSlashes NoDecode

    #start the py-flask app
    WSGIScriptAlias / /home/remotejobs/app.py process-group=remotejobs
    #load custom scripts in code directory; run app as remotejobs user
    WSGIDaemonProcess remotejobs python-path=/home/remotejobs user=remotejobs
    WSGIProcessGroup remotejobs
    <Directory "/home/remotejobs/">
        AllowOverride None
        Options FollowSymLinks
        Require all granted
    </Directory>
</VirtualHost>
