body  {
  /*background-color: #DAF7A6;
  background-image: url("/static/background.svg");
  */
  padding: 6px;
  background-color: white;
  font-family: Verdana;
  color: black;
  font-size: 15px;
}

#sample {
  Margin:28px;
  Padding:30 px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  /*background-color: #D3D3D3;*/  /*light-grey*/
  background-color: #D1E8D5;  /*light-green-tint*/
  color: white;
  text-align: center;
}

#loading {
  width: 35px;
  height: 35px;
  display: none;
  background: url(../images/loading.gif) no-repeat;
  cursor: wait;
}
