<!doctype html>
<html lang="en">
    <head>
      {% if title %}
      <title>{{ title }}: Remote Job Search Engine</title>
      {% else %}
      <title>Remote Job Search Engine</title>
      {% endif %}

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      <!--jquery.dataTables.min.css needed for js table-formatting-->
      <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

      <!--jquery.min.js needed for loader-gif after submit-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="../static/js/loader.js"></script>

      <!-- rss -->
      <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss/" />


      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-VBHMWJPQ6F"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VBHMWJPQ6F');
      </script>

      <div style="float: left">
        <a href="/remotejobs/">
            <img src="{{url_for('static', filename='images/logo.png')}}" align="left" width="160" length="160" alt="RemoteJobs"/>
        </a>
      </div>
      <div style="float: right">
        <a href="/rss/" title="Subscribe">
          <img src="{{url_for('static', filename='images/rss.png')}}" align="left" width="24" length="24" alt="RSS" style="border:0"/>
        </a>
      </div>
      <div style="margin: 0 auto; width: 360px;">
	<h4 align="center">Remote Job Search Engine</h4>
      </div>
    </head>
    <body id="sample">
        <hr>
	{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
	{% block content %}
	{% endblock %}

        <footer>
          <a href="https://github.com/lostusmanifestus/remote-jobs-search#readme" target="_blank" rel="noopener noreferrer" style="text-decoration:none;">Doco</a> | 
          <a href="/contactus/" style="text-decoration:none;">Feedback</a>
        </footer>

        {% if buyMeCoffee %}
        <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="{{ buyMeCoffee }}" data-description="Support me on Buy me a coffee!" data-message="" data-color="#5F7FFF" data-position="Right" data-x_margin="6" data-y_margin="3"></script>
        {% endif %}
    </body>
</html>
