{% extends "base.html" %}

{% block content %}
    <br>
    <p style="line-height:250%">Remote Job Search Engine
      <br>
      <a href="/remotejobs/" style="text-decoration:none;">Remote Jobs</a>: Remote Jobs from multiple sources
      <br>
      <a href="/contactus/" style="text-decoration:none;">Feedback</a>: Contact Page
      <br>
      <br>
      Further Documentation: <a href="https://github.com/vigindian/remote-job-search-portal#readme" target="_blank" rel="noopener noreferrer" style="text-decoration:none;">Remote Jobs</a>
      <br>
    </p>
{% endblock %}
